body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  /* ---------------------Heading----------------------------------------- */
  .cover::before{
    position: absolute;
    inset: 0;
    background-image: url("../Photos/bins/wbmcover.jpg)";
    background-position: center;
    background-size: cover;
    opacity: 1;
    content: "";
  }
  .cover{
    position: relative;
    background-position: center;
    background-size: cover;
    height: 300px;
  }
  .cover img{
    position: absolute;
    height: 300px;
    margin-left: 40%;
    width: 20%;
    opacity: 1;
  }
  @media screen and (max-width: 600px){
    .cover{
      background-size: contain;
      height:100px;
    }
    .cover img{
      margin-left: 30%;
      height: 100px;
      width: 40%;
    }
  }
  
  /* -----------------------About------------------------------------------- */
  .info::before{
    position: absolute;
    inset: 0;
    background-image: url(/Photos/bins/multibin.jpg);
    background-position: center;
    background-size:cover;
    opacity: .1;
    content: "";
  }
  .info{
    background-color: rgb(33, 59, 3);
    position: relative;
    color: white;
    padding: 2%;
    border-top: solid 1px black;
    h2{
      width: 45%;
      padding-top: 1%;
      padding-left: 35%;
      margin-left: 8%;
    }
    p{
      width: 80%;
      margin-left: 8%;
      text-align: justify;
      letter-spacing: 4px;
      line-height: 2;
      font-size: small;
      padding-bottom: 2%;
      border-bottom: solid 1px;
    }
  }
  @media screen and (max-width: 600px){
    .info{
      h2{
        font-size: 60%;
        margin-left: 4%;
      }
      p{
        letter-spacing: 3px;
        font-size: 40%;
      }
    }
  }
  
  /* ------------------------Products-------------------------------------- */
  .products{
    background-image: url(/Photos/bins/lots4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    h2{
      color: rgb(4, 163, 52);
      width: 45%;
      padding-top: 1%;
      padding-left: 35%;
      margin-left: 8%;
    }
  }
  .productDisplay{
    padding-left: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .advert1{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 5px rgb(46, 45, 45);
    background-color: whitesmoke;
    img{
      border-radius: 5%;
      width: 200px;
      height: 160px;
    }
  }
  .advert2{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 5px rgb(46, 45, 45);
    background-color: whitesmoke;
    img{
      border-radius: 5%;
      width: 200px;
      height: 160px;
    }
  }
  .advert3{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 5px rgb(46, 45, 45);
    background-color: whitesmoke;
    img{
      border-radius: 5%;
      width: 200px;
      height: 160px;
    }
  }
  .advert4{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 5px rgb(46, 45, 45);
    background-color: whitesmoke;
    img{
      border-radius: 5%;
      width: 200px;
      height: 160px;
    }
  } 
  .display-img{
    position: absolute;
    display: none;
    margin-top: 5%;
    img{
      border: none;
      border-radius: 0%;
      width: 760px;
      height: 452px;
    }
  }
  .display-img1{
    width: 765px;
    height: 465px;
    margin-top: 2%;
    margin-left: 24%;
    box-shadow: 5px 5px 10px 5px rgb(46, 45, 45);
    padding: 1%;
    h3{
      margin-left: 30%;
      color: rgb(5, 209, 5);
    }
    p{
      margin-left: 1%;
      text-align:center;
      letter-spacing: 2.5px;
      line-height: 1.5;
      font-size: small;
      color: rgb(2, 59, 2);
    } 
  }
  .advert1:hover{
    box-shadow: 5px 5px 10px 5px rgba(46, 45, 45, 0.5);
    background-color: rgba(245, 245, 245, 0);
    .display-img{
      display: block;
      margin-left: 15%;
    }
  }
  .advert2:hover{
    box-shadow: 5px 5px 10px 5px rgba(46, 45, 45, 0.5);
    background-color: rgba(245, 245, 245, 0);
    .display-img{
      display: block;
      margin-left: -8%;
    }
  }
  .advert3:hover{
    box-shadow: 5px 5px 10px 5px rgba(46, 45, 45, 0.5);
    background-color: rgba(245, 245, 245, 0);
    .display-img{
      display: block;
      margin-left: -30%;
    }
  }
  .advert4:hover{
    box-shadow: 5px 5px 10px 5px rgba(46, 45, 45, 0.5);
    background-color: rgba(245, 245, 245, 0);
    .display-img{
      display: block;
      margin-left: -53%;
    }
  }
  @media screen and (max-width: 750px){
    h2{
        font-size: 60%;
        margin-left: 4%;
      }
    .productDisplay{
        padding-left: 15%;
        grid-template-columns: repeat(2, 1fr);  
    }
   .advert1{
    height: 100px;
    width: 100px;
    img{
        padding-left: 5%;
        width: 80px;
        height: 80px;
      }
  } 
  .advert2{
    height: 100px;
    width: 100px;
    img{
        padding-left: 5%;
        width: 80px;
        height: 80px;
      }
  } 
  .advert3{
    height: 100px;
    width: 100px;
    img{
        padding-left: 5%;
        width: 80px;
        height: 80px;
      }
  } 
  .advert4{
    height: 100px;
    width: 100px;
    img{
        padding-left: 5%;
        width: 80px;
        height: 80px;
      }
  } 
  .display-img{
    img{
        width: 85%;
        height: 250px;
    }
  }
  .display-img1{
    width: 80%;
    height: 50%;
    margin-top: 7%;
    margin-left: 8%;
    h3{
      margin-left: 20%;
      font-size: 70%;
    }
    p{
      font-size: 40%;
    } 
  }
  .advert1:hover{
    .display-img{
      margin-left: -10%;
      margin-top: 44%;
    }
  }
  .advert2:hover{
    .display-img{
      margin-left: -56%;
      margin-top: 44%;
    }
  }
  .advert3:hover{
    .display-img{
      margin-left: -10%;
      margin-top: 11%;
    }
  }
  .advert4:hover{
    .display-img{
      margin-left: -56%;
      margin-top: 11%;
    }
  }
  }
  
  /* ----------------------------Footer----------------------------------- */
  .footer-links{
    color: rgba(27, 27, 27, 0.705);
    height: 500px;
    margin-top: 1%;
    background-image: url(/Photos/bins/footer1.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    h3{
      border-bottom: solid 1px;
    }
    a{
      color: rgba(27, 27, 27, 0.87);
      text-decoration: none;
      font-size: 70%;
    }
    .contact-links{
      width: 30%;
      display: flex;
      flex-direction: column;
      padding-left: 1%;
      h3{
        width: 50%;
      }
      a{
        margin-top: 2%;
        padding: 1%;
      }
      :hover{
        color:rgb(177, 106, 0);
      }
    }
    .download{
      margin-top: -210px;
      margin-left: 35%;
      width: 12%;
      #load1{
        padding-top: 5px;
        padding-bottom: 10px;
        background-image: url("/Photos/bins/WBM brocher.png");
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: 100% 60%;
      }
      :hover{
        color:rgb(177, 106, 0);
      }
    }
    .terms{
      border-top: solid 1px;
      border-bottom: solid 1px;
      color: whitesmoke;
      margin-top: 5%;
      width: 100%;
      height: 15%;
      background-color: rgba(44, 44, 44, 0.527);
      img{
        position:absolute ;
        width: 8%;
        height: 8%;
        margin-left: 10%;
      }
      p{
        margin-left: 20%;
        padding-top: 8px;
        width: 10%;
      }
      .social-icons{
        margin-top: -50px;
        background-color: rgba(44, 44, 44, 0);
        width: 30%;
        text-align: center;
        margin-left:30%;
        padding-top: 15px;
        a{
          color: whitesmoke;
          margin-right: 6%;
          font-size: 100%;
        }
        :hover{
          color: rgb(177, 106, 0);
        }
      }
      footer{
        width: 40%;
        float: right;
        margin-top: -2%;
        p{
          width: 70%;
          font-size: x-small;
          a{
            color: rgb(190, 188, 188);
            text-decoration: none;
            font-size: 80%;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 600px){
    .footer-links{
      margin-top: 6%;
      height: 200px;
      font-size: 40%;
      .contact-links{
        width: 40%;
        h3{
          width: 70%;
        }
        a{
          margin-top: 0%;
          padding: 0%;
          line-height: 15px;
        }
      }
      .download{
        margin-top: -100px;
        margin-left: 55%;
        width: 25%;
        #load1{
          padding-top: 1%;
          padding-bottom: 3%;
          background-size: 15%;
          background-position: 60% 10%;
        }
      }
      .terms{
        height: 25%;
        margin-top: 10%;
        img{
          width: 12%;
          height: 6%;
          margin-left: 5%;
        }
        p{
          width: 20%;
          font-size: 35%;
          margin-left: 20%;
          margin-top: 3%;
        }
        .social-icons{
          width: 60%;
          margin-top: -7%;
          margin-left: 35%;
          i{
            margin-right: 5%;
          }
        }
        footer{
          margin-left: 0%;
          width: 98%;
          p{
            width: 50%;
            font-size: 4px;
          }
        }
      }
    }
  }
